<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headerinc :: head">
        <title>User</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/header :: header" />
            <div class="jumbotron">
                <h2 th:text="${title}">User List</h2>
                <a class="btn btn-default" th:href="@{/usermanagement/user/add}">Add User</a>
                <div th:if="${not #lists.isEmpty(userLogins)}">
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="userLogin,no : ${userLogins}">
                            <td th:text="${no.count}">1</td>
                            <td th:text="${userLogin.username}">Username</td>
                            <td th:text="${userLogin.firstname}">Firstname</td>
                            <td th:text="${userLogin.lastname}">Lastname</td>
                            <td><a th:href="@{/usermanagement/user/edit(id=${userLogin.userid})}">Edit</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
