<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/headerinc :: head">
        <title>TODO supply a title</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/header :: header" /> 
            <div class="jumbotron">
                <h2 th:text="${title}">User Details</h2>
                <form id="detailForm" class="form-horizontal" th:object="${userLoginDTO}" th:action="@{/usermanagement/user/form}" method="post">
                    <input type="hidden" th:field="*{userid}"/>
                    <div class="form-group" id="groupusername">
                        <label class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtusername" class="form-control" th:field="*{username}"/>
                        </div>
                    </div>
                    <div class="form-group" id="groupfirstname">
                        <label class="col-sm-2 control-label">Firstname:</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtfirstname" class="form-control" th:field="*{firstname}"/>
                        </div>
                    </div>
                    <div class="form-group" id="grouplastname">
                        <label class="col-sm-2 control-label">Lastname:</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtlastname" class="form-control" th:field="*{lastname}"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
